.blog{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}
.blog__titol{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: black;
    text-decoration: none;
    font-size: var(--size-xl); /* Large text size, adjust as needed */
    margin: 0; /* Removes default margin */
    padding: 10px 0; /* Adds some padding above and below the text */
    font-weight: bold; /* Makes the font bold */
}
.blog__subtitol{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: gray;
    text-decoration: none;
    font-size: var(--size-sm); /* Large text size, adjust as needed */
    margin: 0; /* Removes default margin */
    padding-top: 10px; /* Adds some padding above and below the text */
    padding-bottom: 10px;
}
.blog__buttons_container{
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    width: 12rem;

}
.blog__link-button{
    /* display: inline-block; */
    margin-top: 20px; /* Adds some space above the button */
    padding: 0.5em 1em; /* Padding inside the button */
    background-color: black; /* Example button color, can be changed */
    color: white; /* Button text color */
    text-decoration: none; /* Removes underline from links */
    border-radius: 6px; /* Optional: Rounds the corners of the button */
    letter-spacing: -0.05em;
    transition: transform 0.3s;
    font-family: "Inter", sans-serif;
    font-weight: 550;
    max-width: 100px;
}
.blog__link-button:hover{
    transform: translateY(-3px);
}

/*xs*/
/* @media (min-width: 475px) {
} */
/*s*/
/* @media (min-width: 640px) {
} */
/*m*/
@media (min-width: 768px) {
    .blog__titol{font-size: var(--size-3xl);}
    .blog__subtitol{font-size: var(--size-lg);}
}
/*l*/
@media (min-width: 1024px) {
    .blog__titol{font-size: var(--size-4xl);}
    .blog__subtitol{font-size: var(--size-lg);}
} 
/*xl*/
/* @media (min-width: 1280px) {
} */
/*2xl*/
/* @media (min-width: 1536px) {
} */ 
