.footer{
    background-color: #0d3354;
    width: 100%;
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__copyright{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-size: var(--size-m); /* Large text size, adjust as needed */
    justify-content: flex-end;
}

.footer__text{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: gray;
    text-decoration: none;
    font-size: 10px; /* Large text size, adjust as needed */
    margin: 0; /* Removes default margin */
    padding-top: 1rem;
}