.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d3354;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 99999;
}

.header__logo{
    /* padding-left: 1rem; */
    margin-left: 2rem;
}

.header__menu{
    display: none;
}

.header__flags{
    display: none;
}

.header__bars{
    color: var(--clr-light);
    width: var(--size-2xl);
    height: var(--size-2xl);
    display: block;
    margin-right: 2rem;
}

.header__flag_cat,
.header__flag_cast{
    display: block;
    align-items: center;
}

.header__flag__senyera,
.header__flag__espanya{
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    transition: transform 0.3s;
}

.header__flag__senyera:hover,.header__flag__espanya:hover{
    transform: translateY(-3px);
}




/*xs*/
/* @media (min-width: 475px) {
} */
/*s*/
/* @media (min-width: 640px) {
} */

/*m*/
@media (min-width: 768px) {
    .header__menu{
        display: flex;
        align-items: center;
        list-style: none;
/*         border: 1px solid red;
 */     padding-left: 4rem;
        gap: 2em;

    }

    .header__logo{
        /* padding-left: 1rem; */
        margin-left: 2rem;
    }

    .header__flags{
        display: flex;
        align-items: center;
        list-style: none;
        /* border: 1px solid red; */
        margin-right: 2rem;
        gap: 2em;
    }
    
    .header__link{
        font-size: var(--size-m);
        letter-spacing: -0.05em;
        transition: color 0.3s;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        color: #edf0f1;
        text-decoration: none;
    }
    
    .header__link:hover{
        color: #0088a9;
        /* border: 1px solid red; */
    }

    .header__bars{
        display: none;
    }
    .header__flag_cat{
        display: inline-flex;
        align-items: center;
        border-radius: 50%;
    }
    
    
    .header__flag_cast{
        display: inline-flex;
        align-items: center;
        border-radius: 50%;
    }
    
} 

/*l*/
@media (min-width: 1024px) {
    .header__link{
        font-size: var(--size-lg);
    }

    .header__logo{
        /* padding-left: 1rem; */
        margin-left: 2rem;
    }

    .header__flags{
        display: flex;
        align-items: center;
        list-style: none;
        /* border: 1px solid red; */
        margin-right: 2rem;
        gap: 2em;
    }
    
    .header__resume{
        font-size: var(--size-sm);
    }

    .header__bars{
        display: none;
    }

    .header__menu{
        padding-left: 6em;
        gap: 4.5em;
    }
    .header__flag_cat{
        display: inline-flex;
        align-items: center;
        border-radius: 50%;
    }
    
    
    .header__flag_cast{
        display: inline-flex;
        align-items: center;
        border-radius: 50%;
    }
} 
/*xl*/
/* @media (min-width: 1280px) {
} */
/*2xl*/
/* @media (min-width: 1536px) {
} */ 